  
name: Latest blog post workflow
on:
  schedule:
    # Runs every 2 hour
    - cron: "0 */2 * * *"

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: 3
          commit_message: "Updated readme with the latest stackOverflow data"
          feed_list: "https://www.yukunweb.com/atom.xml"